@tailwind base;
@tailwind components;
@tailwind utilities;

  font{
    font-family: 'Times New Roman', Times, ;
  }
  .image-size {
    height: 242px;
  }

  
  
.main-product{
    Width:444px;
    height:530px;
}
.first{
    Width:152px;
    height:165px;
}

